<%- include('header') -%>
<h1>this about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, voluptates consectetur. Quia delectus porro hic laudantium rem doloremque dicta adipisci, aliquam itaque nesciunt, quis esse reiciendis voluptas, molestias iusto deleniti!</p>
<%- include('footer') -%>